@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&family=Roboto:wght@300&display=swap');

/*-------------------- Navbar ---------------------- */

.navbar {
  width:100%;
}
.nav-background {
    background-color: #7AE9F0;
}

.navbar-brand {
  color: black;
}

.nav-text{
    color: black;
    text-transform: uppercase;
    font-weight:Bold;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.nav-item a:hover{
    background-color: royalblue;
}

.active {
    background-color: #04C6D3;
}

/* -----------------Footer---------------------*/
.footer-background{
    background-color: #04C6D3;
}

.title {
    Text-align: center;
    Padding-bottom: 15px;
    Padding-top: 50px;
}

.address-text {
  text-align: left;
  padding-left: 20px;
}

/* ----------------- Rows & Colums -------------------*/

.column {
    float: left;
    width: 33.33%;
    padding: 5px;
  }

.row h3 {
    text-align: center;
  }

.row p {
    font-size: 150%;
    text-align: center;
  }

  /* ------------------------- Padding -----------------*/
.row {
    padding-top: 30px;
}

.padding-left {
  padding-left: 15px;
}

.padding-right {
  padding-right: 15px;
}

.padding-bottom {
  padding-bottom:100px;
}

p {
  padding: 30px;
}

/*--------------------- Submit Button -----------------*/
.btn {
  color:black;
}

.btn-primary {
  background-color: #04C6D3;
}

.submit {
  padding-bottom: 40px;
}

/* ------------------- Images ------------------*/
.img-thumbnail {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 400px;
  height: 400px;
}