@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&family=Roboto:wght@300&display=swap');

.nav-background {
    background-color: #7AE9F0;
}

.nav-link{
    color: black;
    text-transform: uppercase;
    font-weight:Bold;
}

.logo{
    float: left;
    font-size: 120%;
    margin-left:30px;
    text-decoration: none;
    color: black;
}

.active {
    text-decoration: underlined;
}

.footer-background{
    background-color: #04C6D3;
}

.copyright {
    float:inline;
    text-decoration: none;
    color: black;
}

.title {
    Text-align: center;
    Padding-bottom: 15px;
    Padding-top: 50px;
}

p {
  padding: 30px;
}

.column {
    float: left;
    width: 33.33%;
    padding: 5px;
  }

  .row h3 {
    text-align: center;
  }

  .row p {
    font-size: 150%;
    text-align: center;
  }

  .row {
    Padding:30px;
    padding-bottom: 50px;
  }

  .img-thumbnail {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 400px;
    height: 300px;
  }

.address-background {
  background-color: aquamarine;
  padding-top: 20px;
}

.btn-primary {
  background-color: #04C6D3;
}

.contact-form {
  padding-bottom: 20px;
}