@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&family=Roboto:wght@300&display=swap');

/* Navbar */

.navbar {
  width:100%;
}
.nav-background {
    background-color: #7AE9F0;
}

.navbar-brand {
  color: black;
}

.nav-text{
    color: black;
    text-transform: uppercase;
    font-weight:Bold;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.nav-item a:hover{
    background-color: orangered;
}

.active {
    background-color: #04C6D3;
}

.footer-background{
    background-color: #04C6D3;
}

.title {
    Text-align: center;
    Padding-bottom: 15px;
    Padding-top: 50px;
}

p {
  padding: 30px;
}

.column {
    float: left;
    width: 33.33%;
    padding: 5px;
  }

.row h3 {
    text-align: center;
  }

.row p {
    font-size: 150%;
    text-align: center;
  }

.row {
    Padding:30px;
    padding-bottom: 50px;
  }

.img-thumbnail {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 400px;
    height: 300px;
  }

.address-background {
  background-color: aquamarine;
  padding-top: 20px;
}

.btn-primary {
  background-color: #04C6D3;
}

.address-text {
  text-align: left;
}